<h1>ALL CELEBRITIES</h1>

<p>display all celebrities here</p>

<a href="./new">Add a new celebrity</a>

<h2>List of Celebrities</h2>
{{#each celebrities }}
  <p>{{this.name}}</p>
  <a href="/celebrities/celebrity-details">See more</a>

{{/each}}