<h2>Add a Movie</h2>

<form method="post" action="/movies/create" class="form">
    <label for="title" class="label">Title: </label>
    <input class="input" type="text" id="title" name="title" value="Movie title">

    <label for="genre" class="label">Genre: </label>
    <input class="input" type="text" id="genre" name="genre" value="Movie genre">

    <label for="plot" class="label">Movie plot: </label>
    <input class="input" type="text" id="plot" name="plot" value="Movie plot">

    <button class="btn">Create</button>
</form>